.advantages {
	text-align: center;
	padding-bottom: 35px;

	@media (max-width: $desktop-width) {
		padding-bottom: 60px;
	}
}

.advantages__title {
	margin: 0 auto;
	padding-bottom: 23px;

	@media (max-width: $tablet-width) {
		padding-bottom: 35px;
	}
}

.advantages__text {
	line-height: 22px;
	margin: 0 auto;
	margin-bottom: 47px;
	max-width: 90%;

	@media (max-width: $desktop-width) {
		margin-bottom: 58px;
	}

	@media (max-width: $tablet-width) {
		margin-bottom: 40px;
	}
}

.advantages__list {
	@include list-reset();
	@include offset(0, 0);
	@include roboto(300);
	display: flex;
	width: 1160px;
	margin: 0 auto;


	@media (max-width: $desktop-width) {
		width: 360px;
		flex-direction: column;
	}

	@media (max-width: $tablet-width) {
		width: 290px;
	}
}

.advantages__item {
	width: 360px;
	height: 301px;
	background-color: $dark-grey;
	padding: 0 44px 21px 44px;
	border: 20px solid $dark-grey;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-right: 42px;
	background-color: $brown;

	& :last-child {
		margin-right: 0;
	}

	&--active {
		background-color: $brown;

		& svg {
			fill: $white;
		}
	}

	@media (max-width: $desktop-width) {
		margin-right: 0;
		margin-bottom: 42px;
		border: 17px solid $dark-grey;
		padding: 0 43px 21px 43px;
	}

	@media (max-width: $tablet-width) {
		margin-bottom: 30px;
		width: 100%;
	}
}

.advantages__description {
	@include offset(0, 0);
	@include fonts(16px, 24px);
	padding-top: 35px;

	@media (max-width: $tablet-width) {
		@include fonts(14px, 19px);
	}
}

.advantages__img {
	display: block;
	margin: 0 auto;
	vertical-align: middle;
	fill: $white;
	color: initial;
	stroke: $brown;
}
