.care {
	text-align: center;
	padding-top: 148px;
	padding-bottom: 98px;
	background-image: url('../img/background-cat-desktop.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;

	@media (min-resolution: 2dppx) {
    background-image: url('../img/background-cat-desktop@2x.jpg');
    background-size: 100% auto;
		background-repeat: no-repeat;
  }

  @media (max-width: $tablet-width) {
    background-image: url('../img/background-cat-mobile.jpg');

    @media (min-resolution: 2dppx) {
	    background-image: url('../img/background-cat-mobile@2x.jpg');
	  }
  }

  @media (max-width: $desktop-width) {
    background-image: url('../img/background-cat-tablet.jpg');

    @media (min-resolution: 2dppx) {
	    background-image: url('../img/background-cat-tablet@2x.jpg');
	  }
  }
}

.care__title {
	margin-bottom: 48px;

	@media (max-width: $desktop-width) {
		margin-bottom: 37px;
	}

	@media (max-width: $tablet-width) {
		margin-bottom: 40px;
	}
}

.care__list {
	@include list-reset();
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 40px;
	grid-row-gap: 43px;
	text-align: left;

	@media (max-width: $desktop-width) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
  	justify-content: center;
  	grid-row-gap: 0;
	}
}

.care__item {
	@include fonts(14px, 22px);
	min-height: 165px;
	border: 1px solid $brown;
	border-right: 60px solid $brown;
	padding-top: 38px;
	padding-left: 58px;
	padding-right: 58px;
	box-sizing: border-box;


	@media (max-width: $desktop-width) {
		width: 558px;
		min-height: 168px;
		padding-right: 49px;
		padding-left: 48px;
		margin-bottom: 23px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	@media (max-width: $tablet-width) {
		width: 290px;
		min-height: 171px;
		padding-right: 25px;
		padding-left: 11px;
		margin-bottom: 30px;
		border-right: 46px solid $brown;
	}
}

.care__link {
	@include link();
}

.care__list-title {
	@include offset(0, 0);
	@include roboto(700);
	color: $brown;
	margin-bottom: 10px;

	@media (max-width: $desktop-width) {
		@include fonts(22px, 25px);
	}

	@media (max-width: $tablet-width) {
		@include fonts(18px, 21px);
	}
}

.care__text {
	@include offset(0, 0);
	@include roboto(300);
	color: $white;
	padding-bottom: 25px;

	@media (max-width: $tablet-width) {
		line-height: 19px;
	}
}
