.footer__container {
	margin: 0px 103px;
	min-height: 156px;
	box-sizing: border-box;
}

.footer__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding-top: 57px;
}

.footer__logo {
	margin-right: 125px;
}

.footer__social {
	margin-right: 150px;
	display: flex;
	justify-content: space-between;
}

.footer__address {
	@include fonts(14px, 26px);
	color: $beige;
	@include offset(0, 0);
	margin-right: 60px;
}

.footer__pnone {
	@include offset(0, 0);
	@include link();
	@include roboto(700);
	@include fonts(14px, 26px);
	color: $beige;
}
