.header {
		background-image: url("../img/ginger-cat-desktop.png");
		background-repeat: no-repeat;
  	background-size: auto 100% ;
  	background-position: right;
}

.header__container {
	margin: 0 78px;
	padding-bottom: 64px;
}

.header__content {
	padding-left: 124px;
}

.header__text {
	@include fonts(16px, 24px);
	@include offset(0, 0);
	color: $brown;
	margin-bottom: 15px;
	width: 275px;
}

.header__title {
	@include yeseva();
	@include fonts(52px, 60px);
	@include offset(0, 0);
	margin-bottom: 22px;
	width: 360px;
}

.header__text-description {
	margin-bottom: 50px;
}

.header__button {
	margin-bottom: 50px;
}

.header__logo {
	display: block;
	padding-top: 47px;
	padding-bottom: 115px;
	text-align: center;
}

.header__logo-svg {
	fill: $white;
}
