.header {
		background-image: url("../img/ginger-cat-desktop.png");
		background-repeat: no-repeat;
  	background-size: auto 100% ;
  	background-position: right;

  @media (max-width: $desktop-width) {
		background-image: url("../img/ginger-cat-tablet.png");
	}

	@media (max-width: $tablet-width) {
		background-image: url("../img/ginger-cat-mobile.png");
		background-size: 275px auto;
		background-position: right bottom;
	}
}

.header__container {
  padding: 0 80px;

  @media (max-width: $desktop-width) {
  	max-width: 1365px;
  	padding: 0 22px;
  	box-sizing: border-box;
	}

	@media (max-width: $tablet-width) {
  	min-width: 320px;
  	padding: 0 43px 80px 0;
	}
}

.header__content {
	padding-left: 124px;

	@media (max-width: $desktop-width) {
  	padding-left: 12px;
	}

	@media (max-width: $tablet-width) {
  	display: flex;
  	flex-wrap: wrap;
  	flex-direction: column;
  	align-items: center;
  	text-align: center;
	}
}

.header__text {
	@include fonts(16px, 24px);
	@include offset(0, 0);
	color: $brown;
	margin-bottom: 15px;
	max-width: 275px;

	@media (max-width: $desktop-width) {
		margin-bottom: 20px;
		max-width: 310px;
	}

	@media (max-width: $tablet-width) {
  	@include fonts(14px, 19px);
  	width: 100%;
	}
}

.header__title {
	@include yeseva();
	@include fonts(52px, 60px);
	@include offset(0, 0);
	margin-bottom: 22px;
	max-width: 360px;

	@media (max-width: $desktop-width) {
		max-width: 348px;
	}

	@media (max-width: $tablet-width) {
  	max-width: 234px;
  	@include fonts(36px, 41px);
  	margin-bottom: 30px;
	}
}

.header__text-description {
	margin-bottom: 50px;

	@media (max-width: $desktop-width) {
		margin-bottom: 57px;
	}

	@media (max-width: $tablet-width) {
  	margin-bottom: 40px;
	}
}

.header__button {
	margin-bottom: 50px;

	@media (max-width: $tablet-width) {
		margin-bottom: 57px;
	}

	@media (max-width: $tablet-width) {
		margin-bottom: 200px;
	}
}

.header__logo {
	display: block;
	width: 100%;
	padding-top: 47px;
	padding-bottom: 115px;
	text-align: center;


	@media (max-width: $desktop-width) {
		padding-top: 27px;
		padding-bottom: 72px;
	}

	@media (max-width: $tablet-width) {
  	padding-bottom: 57px;
	}
}

.header__logo-svg {
	fill: $white;
}

.header__social-list {
	min-height: 64px;
	width: 24px;
	margin-bottom: 64px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	&:before {
		content: "";
	  position: absolute;
	  top: -130px;
	  right: 10px;
	  width: 1px;
	  height: 100px;
	  background-color: rgba($white, 0.61);
	  background-repeat: no-repeat;
	}

	@media (max-width: $desktop-width) {
		height: 17px;
		width: 69px;
		margin-bottom: 43px;
		flex-direction: row;
		justify-content: space-between;
		padding-left: 12px;

		&:before {
			display: none;
		}
	}

	@media (max-width: $tablet-width) {
		display: none;
	}
}
