.header__container {
	margin: auto 78px;
	margin-bottom: 64px;
}

.header__content {
	padding-left: 124px;
}

.header__text {
	@include fonts(16px, 24px);
	@include offset(0, 0);
	color: $brown;
	margin-bottom: 15px;
	width: 275px;
}

.header__title {
	@include yeseva();
	@include fonts(52px, 60px);
	@include offset(0, 0);
	margin-bottom: 22px;
	width: 360px;
}

.header__text-description {
	margin-bottom: 50px;
}

.header__button {
	margin-bottom: 50px;
}
