.pets {
	background-color: $dark-grey;
	text-align: center;
	padding-top: 223px;
	padding-bottom: 83px;

	@media (max-width: $desktop-width) {
		padding-top: 100px;
		padding-bottom: 91px;
	}

	@media (max-width: $tablet-width) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

.pets__title {
	@include offset(0, 0);
	margin: 0 auto;
	margin-bottom: 23px;

	@media (max-width: $desktop-width) {
		max-width: 516px;
	}

	@media (max-width: $tablet-width) {
		@include fonts(28px, 32px);
		max-width: 282px;
		margin-bottom: 35px;
	}
}


.pets__description {
	@include offset(0, 0);
	line-height: 26px;
	max-width: 516px;
	margin: 0 auto 38px auto;

	@media (max-width: $tablet-width) {
		@include fonts(14px, 19px);
		max-width: 282px;
	}
}

.pets__list {
	@include list-reset();
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	margin: 0 auto 44px auto;
	max-width: 656px;
}

.pets__item {
	padding-right: 26px;

	&:last-child {
		padding-right: 0;
	}
}

.pets__tab {
	@include link();
	color: rgba($white, 0.2);

	&--active {
		color: $white;
	}

	&:hover {
		color: $brown;
	}

	&:active {
		color: rgba($brown, 0.5);
	}
}

.pets__btn-wraper {
	display: flex;
	justify-content: center;
	align-items: center;

}
