.questions {
	text-align: center;
	background-color: $dark-grey;
	padding-top: 73px;
	padding-bottom: 80px;
}

.questions__title {
	@include offset(0, 0);
	margin: 0 auto;
	margin-bottom: 23px;
}

.questions__description {
	@include roboto(400);
	@include offset(0, 0);
	margin: 0 auto;
	margin-bottom: 53px;
}

.questions__list {
	@include list-reset();
	color: $beige;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-left: 275px;

	@media (max-width: $desktop-width) {
		padding-left: 130px;
	}

	@media (max-width: $tablet-width) {
		padding-left: 0;
	}
}

.questions__item {
	text-align: left;
	border: 1px solid $brown;
	width: 793px;
	margin: 0 auto;
	margin-bottom: 37px;

	@media (max-width: $desktop-width) {
		width: 553px;
		margin-bottom: 22px;
	}

	@media (max-width: $tablet-width) {
		width: 290px;
	}

	&:last-child {
		margin-bottom: 0;
	};

}

.questions__button-block {
	@include roboto(500);
	@include offset(0, 0);
	@include fonts(16px, 18px);
	width: 100%;
	text-align: left;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid $brown;
}

.questions__main-question {
	@include offset(0, 0);
	max-width: 610px;
	padding: 47px 20px 45px 43px;

	@media (max-width: $tablet-width) {
		@include fonts(14px, 19px);
		padding: 15px 15px 15px 15px;

	}
}

.questions__answer-text {
	margin: 0;
	margin-bottom: 10px;
}

.questions__button {
	display: block;
	width: 106px;
	min-height: 100%;
	border: none;
	border-left: 1px solid $brown;
	background-color: inherit;
	text-align: left;

	&--active {
		background-color: $brown;
		border: none;
	}

	@media (max-width: $tablet-width) {
		width: 44px;
		@include fonts(14px, 19px);
	}
}

.questions__answer {
	@include roboto(300);
	padding: 40px 80px 40px 42px;
	max-width: 70%;

	@media (max-width: $tablet-width) {
		padding: 15px 15px 15px 15px;
		@include fonts(14px, 19px);
	}
}
