.section__title {
	@include yeseva();
	@include fonts(36px, 41px);
	@include offset(0, 0);

	@media (max-width: $tablet-width) {
		@include fonts(28px, 32px);
		width: 270px;
	}
}

.section__description {
	@include roboto(300);
	@include offset(0, 0);
	font-size: 16px;
	color: $brown;
	max-width: 523px;
	margin: 0 auto;

	@media (max-width: $desktop-width) {
		line-height: 22px;
		max-width: 100%;
	}

	@media (max-width: $tablet-width) {
		@include fonts(14px, 19px);
	}
}

.section__wrapper {
	position: relative;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 80px;
  box-sizing: border-box;

  @media (max-width: $desktop-width) {
		max-width: 767px;
		padding: 0 29px;

	}

	@media (max-width: $tablet-width) {
		min-width: 320px;
		padding: 0 20px;
	}
}
