*::before,
*::after {
	box-sizing: inherit;
}

.page {
	min-width: 320px;
	height: 100%;
	background-color: $dark;
	margin: 0;
	padding: 0;
	color: $white;
	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 24px;
}

page__container {
	position: relative;
  width: 1366px;
  margin: 0 auto;
}

