@import "global/fonts.scss";
@import "global/mixins.scss";
@import "global/variables.scss";
@import "blocks/section.scss";
@import "global/page.scss";
@import "blocks/advantages.scss";
@import "blocks/button.scss";
@import "blocks/care.scss";
@import "blocks/gallery.scss";
@import "blocks/header.scss";
@import "blocks/pets.scss";
@import "blocks/questions.scss";
@import "blocks/reviews.scss";
@import "blocks/slider.scss";
@import "blocks/social.scss";
@import "blocks/footer.scss";
@import "blocks/specificities.scss";
@import "blocks/team.scss";
@import "blocks/visually-hidden.scss";
